
:focus-visible {
    outline: transparent auto 0px;
}
.hidden{
    display: none !important;
}
button.submit-pet:disabled {
    background: #ccc !important;
}
table{
    width: 100%;
}
td {
    display: flex;
    align-items: center;
}
tr {
    display: flex;
    justify-content: space-between;
}
form.heading--Search_Form {
    display: flex;
    max-width: 600px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 100px;
    margin: auto;
}
.heading--Search_Form .inputFieldArea {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: transparent;
}
.input-area-measurement.inputFieldArea {
    border-right: 1px solid;
}


.formContainer {
    display: flex;
    max-width: 1120px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
}
.formContainer>div:nth-child(2) {
    width: 410px;
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 10px;
}
.containerLeft {
    width: 660px;
}
.form_fields input[type=text]{
    width: 80%;
}
.containerCardStyle,.boxContainer {
    border-radius: 20px;
    padding-top: clamp(32px, calc(2rem + ((1vw - 4.14px) * 4.5326)), 64px) ;
    padding-bottom: clamp(32px, calc(2rem + ((1vw - 4.14px) * 4.5326)), 64px) ;
    padding-left:  clamp(48px, calc(3rem + ((1vw - 4.14px) * 6.7989)), 96px);
    padding-right: clamp(48px, calc(3rem + ((1vw - 4.14px) * 6.7989)), 96px);
    margin-top: 32px;
    background-color: rgb(255, 255, 255);
    color: rgb(33, 37, 43);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 5, 82, 0.08) 0px 7px 14px 0px;
}

/* boxContainer title h2  */
.boxContainer .title h2 {
    padding-bottom: 32px;
    margin: 0px;
    font-size: clamp(25px, calc(1.5625rem + ((1vw - 4.14px) * 1.4164)), 35px);
    font-weight: 900;
    line-height: 1;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    text-align: center;
    color: inherit;
    transition: all 0.15s ease 0s;
}


/* .box-container .title p  */
.boxContainer .title p {
    margin: 0px;
    font-size: clamp(10px, calc(0.625rem + ((1vw - 4.14px) * 0.2833)), 12px);
    font-weight: 900;
    line-height: 1.33;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    text-align: center;
    display: block;
    padding-bottom: 16px;
}

.inputFieldArea {
    width: 100%;
    font-size:clamp(14px, calc(0.875rem + ((1vw - 4.14px) * 0.8499)), 20px);
    line-height: 1.4375em;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    font-weight: 400;
    color: rgb(33, 37, 43);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    padding-right: 12px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 219, 227);
    border-radius: 8px;
    margin-bottom: 48px;
}
.form_fields input{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 219, 227);
    border-radius: 8px;
    letter-spacing: inherit;
    color: currentcolor;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 25px 0px 8px 12px;
    padding: 16px;
    font-size:clamp(14px, calc(0.875rem + ((1vw - 4.14px) * 0.8499)), 20px);   
    margin-bottom: 10px; 
}
.checkBoxContainer.pet--checkbox__conatainer {
    display: flex;
    align-items: center;
}
.checkBoxContainer.pet--checkbox__conatainer input{
    margin-bottom: 0;
}
.checkboxForPet.form_fields {
    background-color: rgb(240, 241, 244);
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 8px 16px;
}
.checkBoxContainer.form_fields {
    display: flex;
    align-items: center;
}
.address--container.form_fields {
    display: flex;
    column-gap: 20px;
}
.correctDateTimeWarningBoard {
    background-color: rgb(233, 245, 249);
    text-align: center;
    border-radius: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.title h2 {
    margin: 0px;
    font-size: clamp(25px, calc(1.5625rem + ((1vw - 4.14px) * 1.4164)), 35px);
    font-weight: 900;
    line-height: 1;
    text-align: center;
    color: inherit;
    transition: all 0.15s ease 0s;
}
.title p {
    margin: 0px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.7082)), 17px);
    line-height: 1.41;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 24px;
}
.inputFieldsWrapper.form_fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 .previousNextButtonContainer div.previous {
     justify-content: start;
 }
.inputFieldsWrapper.form_fields input{
    width: 100%;
}
.inputFieldsWrapper.form_fields input.form_firstName {
    width: 40%;
}
 .inputFieldsWrapper.form_fields input.form_lastName {
    width: 40%;
}
.inputFieldArea input {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 25px 0px 8px 12px;
    padding: 16px;
    font-size:clamp(14px, calc(0.875rem + ((1vw - 4.14px) * 0.8499)), 20px);

}
.mesurementContainer {
    display: flex;
    height: 0.01em;
    max-height: 2em;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 8px;
    pointer-events: none;
    margin-top: 0px !important;
    font-size: 18px;
}

/* .hurText p  */
.hurText p {
    margin: 0px;
    font-size: clamp(10px, calc(0.625rem + ((1vw - 4.14px) * 0.2833)), 12px);
    font-weight: 900;
    line-height: 1.33;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    text-align: center;
    padding-bottom: 16px;
}

.bokaText p {
    margin: 0px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.7082)), 17px);
    line-height: 1.41;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    font-weight: 400;
    text-align: center;
    padding-bottom: 24px;
}

.additionServiceCardContainer .card,.cardContainer .card:not(.checkBoxContainer) {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    min-height: 104px;
    padding: 12px;
    border: 2px solid rgb(218, 219, 227);
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 8%) 0px 7px 14px 0px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    margin: 15px 0;
    cursor: pointer;
}
.additionServiceCardContainer .card.active,.cardContainer .card.active:not(.checkBoxContainer) {
    
    border: 2px solid #C08428;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 7px 14px 0px;
}
 .card p.title {
    margin: 0px;
    font-size:clamp(14px, calc(0.875rem + ((1vw - 4.14px) * 0.8499)), 20px);
    line-height: 1.4;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    color: #C08428;
    font-weight: 900;
}
.card p.subtitle {
    margin: 0px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.2833)), 14px);
    line-height: 1.35;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    font-weight: 400;
    color: rgb(148, 158, 169);
}
.card .cardPrice {
    margin: 0px;
    font-size:clamp(14px, calc(0.875rem + ((1vw - 4.14px) * 0.8499)), 20px);
    line-height: 1.4;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #C08428;
    font-weight: 900;
}
.containerRight .card-container {
    border-radius: 0 0 20px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 5, 82, 0.08) 0px 7px 14px 0px;
    margin-bottom: 32px;
    padding-bottom: 1px;
}
.containerRight .top-area {
    color: #fff;
    padding-top: 16px;
    padding-left: clamp(18px, calc(1.125rem + ((1vw - 4.14px) * 0.8499)), 24px);
    padding-right: clamp(18px, calc(1.125rem + ((1vw - 4.14px) * 0.8499)), 24px);
    pointer-events: all;
    padding-bottom: 15px;
    background-color: #C08428;
}
.firstText h6 {
    margin: 0px;
    font-size: clamp(10px, calc(0.625rem + ((1vw - 4.14px) * 0.2833)), 12px);
    font-weight: 900;
    line-height: 1.33;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    color: inherit;
}
.secondText h2 {
    font-size: clamp(30px, calc(1.875rem + ((1vw - 4.14px) * 1.4164)), 40px);
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    line-height: 1.4;
    text-align: end;
    margin: 0;
    color:white;
}
.thirdText p {
    text-align: end;
    margin: 0;
    margin: 0px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.7082)), 17px);
    line-height: 1.41;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    font-weight: 400;
}

.bottom-area {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 24px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.containerRight table td:nth-child(2){
    text-align: right;
}

.bottom-area p.title {
    margin: 0px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.7082)), 17px);
    line-height: 1.41;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    font-weight: 400;
}
table p.hour {
    margin: 0px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.7082)), 17px);
    line-height: 1.41;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    font-weight: 400;
}
span.textContainer {
    margin: 0px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.7082)), 17px);
    line-height: 1.41;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    font-weight: 400;
    padding-left: 16px;
}
span.queryText {
    font-size: 9px;
    border: 1px solid #c7c7c7;
    height: 10px;
    width: 10px !important;
    color: #c7c7c7;
    margin-left: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}
tr.header-row {
    margin-bottom: 8px;
}
.bottom-bottom-area {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    background-color: rgb(240, 241, 244);
    border-radius: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.tableTitle td{
    margin: 0px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.2833)), 14px);
    line-height: 1.35;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    font-weight: 400;
}

tr.rowThree.summery {
    border-top: 1px solid rgb(223, 224, 231);
    margin-top: 16px;
    padding-top: 8px;
}
tr.rowThree td,tr.rowThree td a {
    margin: 0px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.2833)), 14px);
    line-height: 1.35;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    font-weight: 400;
    color: rgb(148, 158, 169);
    text-decoration: underline rgba(148, 158, 169, 0.4);
}
tr.rowFourth td {
    margin: 0px;
    font-size: clamp(10px, calc(0.625rem + ((1vw - 4.14px) * 0.2833)), 12px);
    font-weight: 900;
    line-height: 1.33;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
}
tr.rowFourth {
    padding-top: 10px;
}
ul.button-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
ul.button-list li.activeButton {
    margin: 0px;
    font-size:clamp(14px, calc(0.875rem + ((1vw - 4.14px) * 0.8499)), 20px);
    line-height: 1.4;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    font-weight: 400;
    color: #C08428;
    border-bottom-color:#C08428;
}
ul.button-list li {
    margin: 0px;
    font-size:clamp(14px, calc(0.875rem + ((1vw - 4.14px) * 0.8499)), 20px);
    line-height: 1.4;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    font-weight: 400;
    color: rgb(148, 158, 169);
    padding-bottom: 24px;
    border-bottom: 5px solid #dadbe3;
    width: 100%;
    text-align: center;
}
.buttons {
    margin: auto 10px 48px;
}

select#duration option {
    background-color: rgb(255, 255, 255);
    color: #21252b;
    padding-left: 16px;
}
select#duration {
    color: #21252b;
    font-size:clamp(14px, calc(0.875rem + ((1vw - 4.14px) * 0.8499)), 20px);
    padding-left: 16px;
    appearance: none;
    user-select: none;
    border-radius: 0px;
    cursor: pointer;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16px 32px 16px 16px;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
}
.inputSelectFieldArea {
    font-size:clamp(14px, calc(0.875rem + ((1vw - 4.14px) * 0.8499)), 20px);
    line-height: 1.4375em;
    font-family: 'Playfair Display','Georgia',"Times New Roman";
    font-weight: 400;
    color: rgb(33, 37, 43);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 219, 227);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 48px;
}
 img.formSelectFieldArrow {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    position: absolute;
    right: 7px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
}
.cardImageContainer img{
        display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            flex: 0 0 80px;
            width: 80px;
            height: 80px;
            border-radius: 10px;
            background-color: rgb(179, 227, 242);
            padding: 0px;
}
.cardActiveTikMarkContainer {
    position: absolute;
    color: white;
    top: 16px;
    right: 3px;
}
.checkBoxContainer {
    display: flex;

}
.checkBoxContainer input {
    margin-right: 20px;
}
.checkBoxContainer label {
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.7082)), 17px);
    color: #C08428;
    margin: 0px;
    line-height: 1.4;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.checkBoxContainer label span{
    margin: 0px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.2833)), 14px);
    line-height: 1.35;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(148, 158, 169);
}
.oneTileServiceContainer p {
    margin: 0px;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.7082)), 17px);
    line-height: 1.41;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-weight: 400;
    padding:16px 0 15px;
}
.previousNextButtonContainer{
    padding-top: 50px;
    display: flex;
}
.previousNextButtonContainer div{
    width: 50%;
    display: flex;
    justify-content: end;
}
form.heading--Search_Form button ,.formContainer button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-weight: 900;
    line-height: 1.4;
    text-transform: none;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-size: clamp(12px, calc(0.75rem + ((1vw - 4.14px) * 0.5666)), 16px);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 5, 82, 0.08) 0px 7px 14px 0px;
    width: 150px;
    color: rgb(255, 255, 255);
    background-color: #C08428;
    position: relative;
    border-radius: 200px;
    white-space: nowrap;
    padding: 12px 28px;
    min-width: 112px;
}